.contenedor-clases, .contenedor-personajes {
  width: 80%;
  padding: 20px;
  gap: 1rem;
  margin-left: 170px;
}

header nav div .logo {
  width: 15%;
}
header nav div .logo-img {
  width: 100%;
}
header nav div div ul li {
  display: inline-block;
  padding-left: 150px;
  margin: 5px 0px;
  font-size: 20px;
  color: #FBCEA0;
  text-decoration: none;
  list-style: none;
}
header nav div div ul li a {
  color: #FBCEA0;
  text-decoration: none;
  list-style: none;
}
header nav div div ul li a:hover {
  text-decoration: underline;
}

.formulario {
  display: flex;
  flex-flow: row wrap;
  width: 50%;
  margin-left: 470px;
  text-align: center;
  margin-top: 80px;
  background-color: rgba(167, 162, 164, 0.0901960784);
  padding: 2rem;
}
.formulario h1 {
  width: 100%;
}
.formulario .contacto {
  width: 100%;
  text-align: center;
}
.formulario .contacto label {
  text-align: center;
  margin-top: 30px;
}
.formulario .contacto input, .formulario .contacto .input {
  border-radius: 4px;
  border: 1px solid black;
  background-color: rgba(167, 162, 164, 0.0901960784);
  width: 100%;
  color: whitesmoke;
}
.formulario .contacto-botones {
  width: 100%;
  border-radius: 4px;
  border: 1px solid black;
  background-color: rgba(167, 162, 164, 0.0901960784);
}

#flecha-up {
  width: 3%;
  position: fixed;
  bottom: 20px;
  right: 20px;
  color: #FBCEA0;
}

.contenedor-clases, .contenedor-personajes {
  width: 80%;
  padding: 20px;
  gap: 1rem;
  margin-left: 170px;
}

.contenedor-personajes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.contenedor-personajes .personaje {
  border: solid 3px #3A3026;
  width: 30%;
  text-align: center;
}
.contenedor-personajes .personaje .lista-sub {
  text-align: left;
  color: #FBCEA0;
  list-style: circle;
}
.contenedor-personajes .personaje a {
  color: #FBCEA0;
  text-decoration: none;
  list-style: none;
}
.contenedor-personajes .personaje .clases {
  width: 20%;
}
.contenedor-personajes .personaje .dark {
  width: 80%;
}

.contenedor-clases, .contenedor-personajes {
  width: 80%;
  padding: 20px;
  gap: 1rem;
  margin-left: 170px;
}

.contenedor-clases {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}
.contenedor-clases .info-personaje {
  border: solid 3px #3A3026;
  width: 100%;
  text-align: center;
}
.contenedor-clases .info-personaje a {
  color: #FBCEA0;
  text-decoration: none;
  list-style: none;
}
.contenedor-clases .info-personaje .subclases {
  width: 4%;
}

.contenedor-info {
  height: 100vh;
  display: grid;
  gap: 1rem;
  grid-template-rows: 1fr 2fr 1.5fr 1fr;
  grid-template-columns: 1fr 0.5fr 0.5fr 1fr;
  grid-template-areas: "header header header header" "section section main main" "section section main main" "footer footer footer footer";
}
.contenedor-info .header-info {
  grid-area: header;
}
.contenedor-info .main-uno {
  grid-area: main;
  height: 550px;
  margin-right: 20px;
  background-color: rgba(167, 162, 164, 0.0901960784);
  background-size: cover;
  border: solid 3px #3A3026;
  text-align: center;
}
.contenedor-info .main-dos {
  grid-area: section;
  background-color: rgba(167, 162, 164, 0.0901960784);
  height: 550px;
  margin-left: 20px;
  background-size: cover;
  border: solid 3px #3A3026;
  text-align: center;
}
.contenedor-info footer {
  grid-area: footer;
  margin-top: 146px;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  body main .primer-p {
    margin-left: 50px;
    margin-right: 50px;
  }
  body main .segundo-p {
    margin-left: 50px;
    margin-right: 50px;
  }
  body main .tercer-p {
    margin-left: 50px;
    margin-right: 50px;
  }
  body .navbar-cel {
    text-align: center;
    padding-left: 0%;
  }
  body .color {
    color: #FBCEA0;
  }
  body .banner {
    width: 100%;
  }
  body .contenedor-personajes {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 0;
  }
  body .contenedor-personajes .personaje {
    width: 100%;
  }
  body .contenedor-clases {
    margin-left: 0%;
    width: 100%;
  }
  body .vm-index {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 100px;
    gap: 2rem;
  }
  body .vm-index div .video-3 {
    display: none;
  }
  body .vm-index iframe {
    width: 80%;
    margin-left: 40px;
  }
  body .formulario {
    margin-left: 25%;
    text-align: center;
  }
  body .formulario .input {
    border-radius: 4px;
    border: 1px solid black;
    background-color: rgba(167, 162, 164, 0.0901960784);
    width: 100%;
    color: whitesmoke;
  }
  body #flecha-up {
    width: 5%;
  }
  body .contenedor-info {
    display: flex;
    flex-direction: column;
  }
  body .contenedor-info .main-dos {
    display: none;
  }
  body .contenedor-info .main-uno {
    height: 1000px;
    margin: 0px 20px 0px 20px;
    text-align: center;
  }
}
@media screen and (min-width: 480px) and (max-width: 990px) {
  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  body .navbar-cel {
    text-align: center;
    padding-left: 0%;
  }
  body .color {
    color: #FBCEA0;
  }
  body .contenedor-personajes {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 0;
  }
  body .contenedor-personajes .personaje {
    width: 100%;
  }
  body .contenedor-personajes .personaje .dark {
    width: 35%;
  }
  body .contenedor-clases {
    margin-left: 0%;
    width: 100%;
  }
  body .vm-index {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    gap: 50px;
  }
  body .formulario {
    margin-left: 25%;
  }
  body .formulario .input {
    border-radius: 4px;
    border: 1px solid black;
    background-color: rgba(167, 162, 164, 0.0901960784);
    width: 100%;
    color: whitesmoke;
  }
  body #flecha-up {
    width: 5%;
  }
  body .contenedor-info {
    display: flex;
    flex-direction: column;
  }
  body .contenedor-info .main-uno {
    height: 1000px;
    margin: 0px 20px 0px 20px;
    text-align: center;
  }
  body .contenedor-info .main-dos {
    height: 1000px;
    margin: 0px 20px 0px 20px;
    text-align: center;
  }
  body footer {
    width: 100%;
  }
}
@media screen and (min-width: 990px) and (max-width: 1199px) {
  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  body .navbar-cel {
    text-align: center;
    padding-left: 30%;
  }
  body .color {
    color: #FBCEA0;
  }
  body .contenedor-personajes {
    width: 80%;
    padding: 20px;
    display: flex;
    gap: 1rem;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 50px;
  }
  body .contenedor-personajes .personaje {
    width: 100%;
  }
  body .contenedor-personajes .personaje .dark {
    width: 35%;
  }
  body .contenedor-clases {
    margin-left: 0%;
    width: 100%;
  }
  body .vm-index {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    gap: 50px;
  }
  body .formulario {
    margin-left: 25%;
  }
  body .formulario .input {
    border-radius: 4px;
    border: 1px solid black;
    background-color: rgba(167, 162, 164, 0.0901960784);
    width: 100%;
    color: whitesmoke;
  }
  body #flecha-up {
    width: 5%;
  }
  body .contenedor-info {
    display: flex;
    flex-direction: column;
  }
  body .contenedor-info .main-uno {
    height: 1000px;
    margin: 0px 20px 0px 20px;
    text-align: center;
  }
  body .contenedor-info .main-dos {
    height: 1000px;
    margin: 0px 20px 0px 20px;
    text-align: center;
  }
  body footer {
    width: 100%;
  }
}
.vm-index {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2rem;
  padding-top: 100px;
}

footer {
  background-color: rgba(167, 162, 164, 0.0901960784);
  margin-top: 50px;
  display: flex;
  justify-content: center;
  gap: 5rem;
}
footer a img {
  margin: 10px 0px 10px 0px;
  width: 40px;
  height: 40px;
  transition: 1s;
}
footer a img:hover {
  transform: scale(1.1);
  transition: 1s;
}

* {
  padding: 0%;
  margin: 0%;
}

/* fondo */
body {
  background-image: url("../multimedia/fondo.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  color: #A7A2A4;
  text-shadow: 10px 10px 10px black;
}
body .banner {
  width: 100%;
}

main {
  text-align: center;
}
main h1 {
  margin-top: 50px;
}
main .primer-p {
  margin-left: 50px;
  margin-right: 50px;
}
main .segundo-p {
  margin-left: 50px;
  margin-right: 50px;
}
main .tercer-p {
  margin-left: 50px;
  margin-right: 50px;
}

/*# sourceMappingURL=estilos.css.map */
