@import "./utilidades/mixin";
@import "./utilidades/extend";

.contenedor-clases{
    @include flex (flex, column, wrap);
    @extend %estilos;
    text-align: center;
    
    .info-personaje{
        border: solid 3px $color-cajas;
        width: 100%;
        text-align: center;

        a{
            @include link; 
        }
        
        .subclases{
            width: 4%;
            
        }
    }
}