@import "./utilidades/mixin";
@import "./utilidades/extend";

.contenedor-personajes{
    @include flex (flex, row, wrap);
    @extend %estilos;

    .personaje{
        border: solid 3px $color-cajas;
        width: 30%;
        text-align: center;

        .lista-sub{
            text-align: left;
            color: $color-link;
            list-style:circle;

        }
        a{
           @include link;  
        }
        .clases{
            width: 20%;
        }

        .dark{
            width: 80%; 
        }

    }
}